
contrived/test_empty.py linguist-generated
contrived/test_hugeidentifier.py linguist-generated
contrived/test_hugemultilinestring.py linguist-generated
contrived/test_hugenesting.py linguist-generated
contrived/test_hugenumber.py linguist-generated
contrived/test_hugestring.py linguist-generated
stdlib/test_abc.py linguist-generated
stdlib/test_argparse.py linguist-generated
stdlib/test_ast.py linguist-generated
stdlib/test_bdb.py linguist-generated
stdlib/test_binhex.py linguist-generated
stdlib/test_chunk.py linguist-generated
stdlib/test_codeop.py linguist-generated
stdlib/test_configparser.py linguist-generated
stdlib/test_contextvars.py linguist-generated
stdlib/test_crypt.py linguist-generated
stdlib/test_dataclasses.py linguist-generated
stdlib/test_datetime.py linguist-generated
stdlib/test_doctest.py linguist-generated
stdlib/test_formatter.py linguist-generated
stdlib/test_ftplib.py linguist-generated
stdlib/test_getpass.py linguist-generated
stdlib/test_heapq.py linguist-generated
stdlib/test_inspect.py linguist-generated
stdlib/test_keyword.py linguist-generated
stdlib/test_mimetypes.py linguist-generated
stdlib/test_numbers.py linguist-generated
stdlib/test_opcode.py linguist-generated
stdlib/test_operator.py linguist-generated
stdlib/test_os.py linguist-generated
stdlib/test_pathlib.py linguist-generated
stdlib/test_pipes.py linguist-generated
stdlib/test_platform.py linguist-generated
stdlib/test_pprint.py linguist-generated
stdlib/test_pydoc.py linguist-generated
stdlib/test_queue.py linguist-generated
stdlib/test_random.py linguist-generated
stdlib/test_signal.py linguist-generated
stdlib/test_socket.py linguist-generated
stdlib/test_stat.py linguist-generated
stdlib/test_string.py linguist-generated
stdlib/test_tarfile.py linguist-generated
stdlib/test_tempfile.py linguist-generated
stdlib/test_this.py linguist-generated
stdlib/test_token.py linguist-generated
stdlib/test_tokenize.py linguist-generated
stdlib/test_turtle.py linguist-generated
stdlib/test_typing.py linguist-generated
stdlib/test_warnings.py linguist-generated
stdlib/test__pydecimal.py linguist-generated
