
# ignore anything without an extension (typically non-windows binary files),
# make sure this first because it will overwrite any rules that come before it
*
!*/
!*.*

dist
*.egg
*.egg-info
*.pyd
*.pyc

.cache/
build/
*.obj
*.so

# msvc stuff
*.pdb
*.pgc
*.pgd
*.exe

# gcc
*.gcov
*.gcno
*.gcda
